{% extends 'base.html' %}

{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/contacto.css' %}" />
	<title>Contacto</title>
{% endblock %}

{% block content %}
	{% include 'snippets/header.html' %}

	<main class="main-contact">
		{% include 'snippets/mensajes.html' %}

		<section class="section-contact">

			<fieldset class="container-form-contact">
				<legend class="container-form-contact__title">Contactenos</legend>

				<form action="{% url 'Users:contact' %}" method="POST" class="form-contact">

					{% csrf_token %}

					{{formulario.nombre}}
					{% if formulario.nombre.errors %}
						{{formulario.nombre.errors}}
					{% endif %}

					{{formulario.apellido}}
					{% if formulario.apellido.errors %}
						{{formulario.apellido.errors}}
					{% endif %}

					{{formulario.telefono}}
					{% if formulario.telefono.errors %}
						{{formulario.telefono.errors}}
					{% endif %}

					{{formulario.correo}}
					{% if formulario.correo.errors %}
						{{formulario.correo.errors}}
					{% endif %}

					{{formulario.asunto}}
					{% if formulario.asunto.errors %}
						{{formulario.asunto.errors}}
					{% endif %}

					{{formulario.mensaje}}
					{% if formulario.mensaje.errors %}
						{{formulario.mensaje.errors}}
					{% endif %}

					<button class="form-contact__btn">Enviar</button>
				</form>
			</fieldset>

			<picture class="container-figure-contact">
				<source media = "(min-width: 1000px)" srcset="https://res.cloudinary.com/dpxek6oka/image/upload/v1641338513/images/Contacto-desktop_tppxze.webp"  class ="container-figure-contact__img" loading = "lazy"/>

				<img src="https://res.cloudinary.com/dpxek6oka/image/upload/v1641338513/images/Contacto-mobile_q95pit.webp" alt="Imagen de contacto" class ="container-figure-contact__img"  loading = "lazy">
			</picture>
		</section>

		{% include 'snippets/aside.html' %}
	</main>

	{% include 'snippets/footer.html' %}
{% endblock %}