{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/recuperacion.css' %}" />
    <title>SaleCold</title>
{% endblock %}

{% block content %}

    {% include 'plantillas/header.html' %}

    <main>
        <fieldset class="container-recuperar">
            <legend class="container-recuperar__title"> Recuperar contraseña </legend>

            <p>Aqui podra encontrar 2 opciones disponibles para que pueda recuperar su contraseña</p>

            <a href="{% url 'recuperation-email' %}" class="form-recuperar__btn">E-mail</a>
            <a href="{% url 'recuperation-phone' %}" class="form-recuperar__btn">Via-SMS</a>

            </form>
        </fieldset>

        {% include 'plantillas/aside.html' %}
    </main>

    {% include 'plantillas/footer.html' %}
{% endblock %}