{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/recuperacion.css' %}" />
    <title>SaleCold</title>
{% endblock %}

{% block content %}

    {% include 'snippets/header.html' %}

    <main>
        <fieldset class="container-recuperar">
            <legend class="container-recuperar__title"> Recuperar contraseña </legend>

            <p>Aqui podra encontrar 2 opciones disponibles para que pueda recuperar su contraseña</p>

            </form>
        </fieldset>

        {% include 'snippets/aside.html' %}
    </main>

    {% include 'snippets/footer.html' %}
{% endblock %}