{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/categoria.css' %}">
    <link rel="stylesheet" href="{% static 'css/busqueda producto.css' %}">
    <title>Busqueda productos</title>
{% endblock %}

{% block content %}
    {% include 'plantillas/header.html' %}

    <main class="container-search-product">
        <h2 class="container-search-product__title">Busqueda de productos</h2>

        {% include 'products/snippets/formularioBusquedaProducto.html' %}

        <p class="container-search-product__paragraph">
            Se encontraron {{cantidad_productos}} resultados para: {{query}}
        </p>
        
        <fieldset class="container-filter">
            <form action="#" method="POST" class="form-filter-category">
                <select name="" id="" class="container-select-category">
                    <option selected disabled>Ordenar por</option>
                    <option value="">Precio: menor a mayor</option>
                    <option value="">Precio: mayor a menor</option>
                    <option value="">Nombre: (A-Z)</option>
                    <option value="">Nombre: (Z-A)</option>
                    <option value="">Descuento</option>
                </select>
            </form>
        </fieldset>

        <section class="container-list-result">
            {% for producto in productos %}
                {% include 'products/snippets/plantillaProducto.html' %}
            {% endfor %}
        </section>

        {% include 'plantillas/aside.html' %}
    </main>

    {% include 'plantillas/footer.html' %}
{% endblock %}