{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/categoria.css' %}">
    <title>SaleCold | {{categoria.name}}</title>
{% endblock %}

{% block content %}
    {% include 'plantillas/header.html' %}

    <main class="container-category">
        <h2 class="container-category__title">{{categoria.name}}</h2>

        <fieldset class="container-filter">
            <form action="#" method="POST" class="form-filter-category">
                <select name="" id="" class="container-select-category">
                    <option selected disabled>Ordenar por</option>
                    <option value="">Precio: menor a mayor</option>
                    <option value="">Precio: mayor a menor</option>
                    <option value="">Nombre: (A-Z)</option>
                    <option value="">Nombre: (Z-A)</option>
                    <option value="">Descuento</option>
                </select>
            </form>
        </fieldset>

        <section class="container-products-category">
            {% for producto in productos %}
                {% include 'products/snippets/plantillaProducto.html' %}
            {% endfor %}
            <article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article>
            <article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article>
            </article><article class="article-product">
                <a href="#">
                    <img src="{% static 'assets/images/producto.webp' %}" alt="Producto1"
                        class="article-product__image" loading="lazy" />
                </a>
                <h3 class="article-product__title">Nombre del producto</h3>
                <p class="article-product__price">Precio</p>
                <form action="#" method="POST" class="container-add-product">
                    <button class="add-product" disabled>
                        <i class="fas fa-shopping-cart container-add-product__icon" aria-hidden="true"></i> 
                        Agregar al carrito
                    </button>
                </form>
            </article>
        </section>

        <fieldset class="container-filter">
            <form action="#" method="POST" class="form-filter-category">
                <select name="" id="" class="container-select-category container-select-category--margin">
                    <option selected disabled>Ordenar por</option>
                    <option value="">Precio: menor a mayor</option>
                    <option value="">Precio: mayor a menor</option>
                    <option value="">Nombre: (A-Z)</option>
                    <option value="">Nombre: (Z-A)</option>
                    <option value="">Descuento</option>
                </select>
            </form>
        </fieldset>

        {% include 'plantillas/aside.html' %}
    </main>

    {% include 'plantillas/footer.html' %}
{% endblock %}