body {
    padding-top: 3em;
}
.container-info-product__title,
.container-others-products__title {
    font-size: 1.3rem;
}
.main-product {
    padding: 1.2em;
}
.container-images-product {
    display: grid;
    grid-template-rows: 220px 90px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    -moz-column-gap: 0.8em;
         column-gap: 0.8em;
    margin-bottom: 2.3em;
    margin-top: 1.3em;
}
.container-figure-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    border-radius: 0.6em;
    overflow: hidden;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -ms-border-radius: 0.6em;
    -o-border-radius: 0.6em;
    background-color: #fff;
}
.container-figure-product--position {
    grid-row: 1;
    grid-column: span 3;
}
.container-figure-product--bottom {
    margin-right: 0.4em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}
.container-info-product__code,
.container-info-product__discount {
    font-size: 0.8rem;
    color: rgb(65, 65, 65);
}
.container-info-product__description {
    line-height: 1.5em;
}
.container-info-product__price {
    color: rgb(0, 38, 255);
    font-size: 1rem;
}
.container-form-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.5em;
}
.container-form-product__btn {
    width: 62%;
    padding: 0.8em;
    background-color: rgb(0, 38, 255);
    color: #fff;
    border: none;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    font-size: 0.8rem;
    margin-top: 1em;
    font-weight: 410;
    cursor: pointer;
}
.container-count-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62%;
    height: 30px;
    font-size: 1rem;
}
.container-count-order__add,
.container-count-order__remove {
    background-color: rgb(0, 38, 255);
    width: 30px;
    height: 100%;
    color: #fff;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
}
.container-count-order__quantity {
    width: 48px;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
    -webkit-appearance: textfield;
    -moz-appearance:textfield;
}
.container-figure-product__img {
    height: 80%;
}
.container-figure-product__img--width {
    height: auto;
}
.main-footer {
    margin-top: 1em;
}
.container-others-products {
    border-top: 2px solid #000;
    margin-top: 2.4em;
}
.container-others-products__title {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
}
.form-add-product__input {
    width: 100%;
    height: 37px;
    background-color: rgb(0, 38, 255);
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight: 410;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    font-size: 0.9rem;
}
.article-product {
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 320px) {
    .container-form-product__btn {
        padding: 0.9em;
    }
    .main-product {
        padding: 1.2em;
    }
}
@media screen and (min-width: 360px) {
    .main-product {
        padding: 1.7em;
    }
    .container-form-product__btn {
        width: 58%;
    }
    .container-count-order {
        width: 58%;
    }
}
@media screen and (min-width: 411px) {
    .main-product {
        padding: 1.8em;
    }
    .container-form-product__btn {
        width: 50%;
    }
    .container-count-order {
        width: 50%;
    }
}
@media screen and (min-width: 540px) {
    .main-product {
        padding: 2em;
    }
    .container-form-product__btn {
        width: 37%;
        padding: 0.8em;
        font-size: 0.9rem;
        margin-top: 1.2em;
    }
    .container-count-order {
        width: 37%;
        height: 35px;
        font-size: 1.1rem;
    }
    .container-count-order__add,
    .container-count-order__remove {
        width: 35px;
        font-size: 1.3rem;
    }
    .container-info-product__title {
        font-size: 1.4rem;
    }
    .container-info-product__price {
        font-size: 1.2rem;
    }
    .container-info-product__code,
    .container-info-product__discount {
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 768px) {
    .main-footer {
        margin: 0;
    }
    .main-product {
        padding: 2em;
    }
    .container-images-product {
        grid-template-rows: 240px 140px;
        row-gap: 1.4em;
        -moz-column-gap: 1.3em;
             column-gap: 1.3em;
        margin-bottom: 2.7em;
        margin-top: 1.5em;
    }
    .container-form-product__btn {
        width: 35%;
    }
    .container-count-order {
        width: 35%;
    }
}
@media screen and (min-width: 1024px) {
    .main-product {
        padding: 3.4em;
    }
    .container-images-product {
        grid-template-rows: 300px 170px;
        -moz-column-gap: 1.5em;
             column-gap: 1.5em;
    }
    .container-info-product__title {
        font-size: 1.5rem;
    }
    .container-info-product__price {
        font-size: 1.3rem;
    }
    .container-info-product__code,
    .container-info-product__discount {
        font-size: 0.9rem;
    }
    .container-form-product__btn {
        width: 27%;
        padding: 0.9em;
        font-size: 1rem;
        margin-top: 1.2em;
    }
    .container-count-order {
        width: 27%;
        height: 40px;
        font-size: 1rem;
    }
    .container-count-order__add,
    .container-count-order__remove {
        width: 37px;
        font-size: 1.3rem;
    }
    .container-others-products__title {
        font-size: 1.5rem;
    }
    .form-add-product__input {
        font-size: 1rem;
    }
    .article-product {
        margin: 0;
    }
    .container-others-products {
        margin: 0;
    }
}
@media screen and (min-width: 1200px) {
    body {
        display: block;
        padding-top: 1em;
    }
    .container-images-product,
    .container-info-product {
        margin: 0;
    }
    .container-images-product {
        display: grid;
        width: 85%;
        height: 330px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 30% 70%;
        grid-auto-flow: row dense;
    }
    .container-figure-product--position {
        grid-column: 2;
        grid-row: span 3;
    }
    .container-info-product__title {
        margin: 0;
    }
    .container-form-product {
        display: block;
    }
    .container-form-product__btn {
        width: 200px;
        padding: 0;
        height: 40px;
    }
    .container-count-order {
        width: 200px;
    }
    .container-more-products {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .section-view-product {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        margin-bottom: 0;
        padding: 4em 0;
    }
    .container-info-product {
        height: 100%;
        padding-top: 1.7em;
    }
}
@media screen and (min-width: 1400px) {
    .main-product {
        padding: 4em;
    }
}