:root {
    --color-principal: rgb(0, 156, 224);
    --font: "Roboto", sans-serif;
    --font-color: #000;
    --color-formularios: #0a1931;
    --color-btn-formularios: rgb(0, 81, 255);
    --background-color: #f8f8f8;
}
body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--background-color);
    max-width: 100%;
    min-height: 100vh;
    font-family: var(--font);
}
.main-header {
    position: relative;
    width: 100vw;
    height: 580px;
    font-family: var(--font-header);
}
.main-menu-scroll {
    background-color: var(--color-principal);
    transition: 0.4s;
}
.main-menu,
.main-user-normal {
    width: 100%;
    height: 59px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.main-user-normal {
    background-color: rgb(0, 156, 224);
}
.container-info-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    z-index: 30;
    top: 30%;
    justify-content: space-between;
    align-items: center;
}
.container-info-header__title {
    display: block;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    text-shadow: 10px 14px 19px rgba(2, 2, 2, 0.774);
}
.container-info-header__btn {
    display: block;
    width: 140px;
    margin: 0 auto;
    padding: 0.7em;
    text-align: center;
    font-size: 1rem;
    box-shadow: 10px 14px 19px rgba(2, 2, 2, 0.774);
    border-radius: 0.5em;
    background-color: blue;
    color: #fff;
    border: none;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}
.main-header__user-icon {
    display: inline-block;
    position: absolute;
    top: 1.3vmin;
    right: 19.5vmin;
}
.main-header__login {
    display: inline-block;
    border: none;
    text-align: center;
    color: #000;
    position: absolute;
    top: 1.3vmin;
    right: 20px;
    padding: 0.5em;
    font-size: 1.1rem;
    font-family: var(--font-header);
}
.main-header__login--position {
    right: 25px;
}
.main-header__logo {
    display: inline-block;
    width: 7.9vmin;
    height: 6.1vmin;
    position: absolute;
    top: 0;
    left: 9vmin;
}
.main-header__menu-icon {
    display: inline-block;
    position: absolute;
    top: 1.4vmin;
    left: 1vmax;
    cursor: pointer;
}
.container-figure-header {
    width: 100vw;
    height: 100%;
    margin: 0;
    position: relative;
}
.container-figure-header__img {
    width: 100%;
    height: 80%;
    margin: 0;
}
.main-header__form {
    width: 440px;
    max-width: 84vw;
}
.container-search-form {
    width: 440px;
    max-width: 84vw;
}
.container-search-form__input {
    width: 440px;
    max-width: 84vw;
    height: 40px;
    border-radius: 1.1em;
    margin: 0 auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.801);
    -webkit-border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    -ms-border-radius: 1.1em;
    -o-border-radius: 1.1em;
    padding: 1em;
    outline: none;
    font-size: 1rem;
}
.container-search-form__btn {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    right: 10px;
    top: 9px;
    color: rgba(56, 56, 56, 0.308);
    cursor: pointer;
}
.container-search-form {
    position: relative;
}
.main-header__icon-form {
    position: absolute;
}
.main-header__shop-icon {
    display: inline-block;
    color: #000;
    position: absolute;
    top: 1.3vmin;
    right: 18vmin;
}
.main-header__shop-cart{
    width: 35px;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: .5vmin;
    right: 14.2vmin;
    color: black;
    -webkit-appearance: textfield;
    -moz-appearance:textfield;
}

.main-header__menu-categories {
    background-color: #fff;
    width: 34vmin;
    z-index: 50;
    position: absolute;
    text-align: left;
    transform: translateY(2.8%);
}
.main-header__menu-categories--show {
    display: none;
}
.List-categories {
    margin: 0;
    padding: 0;
}
.List-categories__item:hover {
    background-color: rgba(233, 233, 233, 0.815);
}
.List-categories__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5.1vmin;
    margin: 0;
    list-style: none;
}
.List-categories__link {
    display: flex;
    width: 93%;
    height: 55%;
    color: #000;
    font-size: .8rem;
    text-transform: lowercase;
    margin: 0 0 0 1vmin;
}
.List-categories__img-icon {
    width: 21px;
    margin-right: 0.5em;
}
.container-user-authenticate {
    position: absolute;
    right: 5px;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: var(--font-header);
}
.container-user-authenticate__paragraph {
    margin: 0;
    font-size: 1.1rem;
}
.container-user-authenticate__icon {
    margin-left: 0.3em;
    font-size: 0.5rem;
    cursor: pointer;
}
.menu-user-normal {
    width: 170px;
    position: absolute;
    right: 28px;
    top: 50px;
    background-color: #fff;
}
.menu-container-user-normal {
    height: 100px;
    padding: 0.6em;
    list-style: none;
    margin: 0;
}
.menu-container-user-normal__link {
    color: #000;
    font-size: 1rem;
    font-family: var(--font-header);
}
.menu-container-user-normal__item {
    display: flex;
    margin-bottom: 0.6em;
    align-items: center;
}
.menu-container-user-normal__link:hover {
    color: blue;
}
.menu-user-normal--show {
    display: none;
}
.List-categories__icon {
    color: blue;
    margin-right: 0.6em;
}
.List-categories__icon--position {
    font-size: 1rem;
    justify-self: flex-end;
}
.section-productos-ofertados {
    width: 88vw;
    margin: 0 auto;
    max-width: 90vw;
    font-family: var(--font-main);
}
.section-productos-ofertados__title {
    text-align: end;
    border-bottom: 2px solid var(--font-color);
    padding: 0 0 0.5em 0;
    font-size: 1.8rem;
    margin-bottom: 1.2em;
    margin-top: 1.5em;
}
.main-icon {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 18vh;
    right: 0;
    cursor: pointer;
    z-index: 300;
}
.container-icon {
    color: #000;
    padding-bottom: 1rem;
    padding-right: 1.2rem;
}
.container-icon__item {
    font-size: 1.8rem;
}
.container-products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.article-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    width: 225px;
    height: 340px;
    padding: 1em;
    margin: 0;
    transform: scale(1);
    transition: transform 1s;
}
.article-product:hover {
    transform: scale(1.06);
    transition: transform 0.5s;
    box-shadow: 2px 2px 12px #000;
}
.article-product__image {
    display: block;
    width: 155px;
    height: 155px;
    margin: 0 auto;
}
.article-product__offert {
    position: absolute;
    top: 0.4em;
    right: 0.6em;
    z-index: 10;
    --font-color: rgba(0, 38, 255, 0.842);
    color: var(--font-color);
    font-size: 1.4rem;
    margin: 0;
}
.article-product__price {
    font-size: 1.1rem;
    text-align: end;
    margin: 0;
    color: blue;
}
.article-product__title {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}
.container-add-product {
    width: 100%;
    margin: 0;
    padding: 0;
}
.add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    background-color: rgb(0, 38, 255);
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    margin: 0;
    cursor: pointer;
    border: none;
    font-weight: 340;
}
.container-add-product__icon {
    display: inline-block;
    margin-right: 0.5em;
}
.main-footer {
    background-color: var(--color-principal);
    max-width: 100%;
    height: 140px;
    text-align: center;
    margin-top: auto;
    padding: 0.8em;
    font-family: var(--font-footer);
    font-weight: 530;
    font-size: 0.9rem;
}
.main-footer__paragraph {
    margin: 0.9em 0 0 0;
}
.info-contact__paragraph {
    margin: 0 0 0.5em 0;
}
.info-contact {
    width: 100%;
    margin: 0;
}
.error,
.exito {
    width: 97vw;
    margin: 0 auto 1.2em auto;
    font-size: 0.9rem;
    border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    -ms-border-radius: 0.7em;
    -o-border-radius: 0.7em;
    padding: 1.1em;
}
.error {
    background-color: #f8d7da;
    border-color: #f5c2c7;
    color: #842029;
}
.exito {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.article-product__discount {
    text-decoration: line-through;
    margin-left: 0.4em;
    color: #000;
}
.errorlist {
    margin-top: 0;
    margin-bottom: 1.5em;
    list-style: none;
    padding: 0.4em;
    font-size: 0.8rem;
    font-family: var(--font-footer);
    color: red;
}
.container-pagination-products {
    height: 40px;
    margin-top: 2em;
}
.container-list-pagination-products {
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    padding: 0;
    font-size: .9rem;
}
.container-element-list-pagination-products {
    width: 25px;
    height: 100%;
    border: 1px solid rgb(212, 212, 212);
    background-color: white;
    text-align: center;
}
.container-element-list-pagination-products--width {
    width: 80px;
}
.container-element-list-pagination-products__link {
    color: blue;
    line-height: 40px;
}
.container-element-list-pagination-products--active {
    background-color: blue;
    border: none;
}
.container-element-list-pagination-products__link--active {
    color: white;
}
.container-element-list-pagination-products__link--deactivate {
    cursor: default;
    pointer-events: none;
    color: gray;
}

@media screen and (min-width: 320px) {
    .container-info-header__title {
        font-size: 3.2rem;
    }
    .container-info-header__btn {
        padding: 0.8em;
    }
    .container-search-form__input {
        height: 42px;
    }
    .main-footer {
        font-size: 1rem;
    }
    .main-footer__paragraph {
        margin: 0.7em 0 0 0;
    }
    .info-contact__paragraph {
        margin: 0 0 0.3em 0;
    }
}
@media screen and (min-width: 400px) {
    .main-footer {
        font-size: 1rem;
        padding: 0.9em;
    }
    .main-footer__paragraph {
        margin: 1.2em 0 0 0;
    }
    .info-contact__paragraph {
        margin: 0 0 0.5em 0;
    }
}


/* -----------------Estilos preload del aplicativo----------------- */
.preload {
    width: 58px;
    height: 58px;
    margin-bottom: 0.5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid rgba(230, 230, 230, 0.753);
    animation: girar 1.4s linear infinite;
    position: relative;
    border-top: 4px solid blue;
    -webkit-animation: girar 1.4s linear infinite;
}
@-webkit-keyframes girar {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@keyframes girar {
    from {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
.container-preload {
    display: none;
    background-color: #fff;
}
.container-preload--show {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
}
.container-preload__img {
    width: 120px;
    margin-bottom: 1.4em;
}
.preload-hidden{
    overflow: hidden;
}