{% load static %}

<footer class="main-footer">
    <address class="info-contact">
        <p class="info-contact__paragraph">
            <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
            Calle 45C # 4-10C-75, Barranquilla
        </p>
        <p class="info-contact__paragraph">
            <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
            333333
        </p>
        <p class="info-contact__paragraph">
            <i class="fas fa-envelope" aria-hidden="true"></i>
            frionevadojl@hotmail.com
        </p>
    </address>

    <p class="main-footer__paragraph">
        &copy; SaleCold {% now "Y" %} | Todos los derechos reservados
    </p>
</footer>

<script src="{% static 'js/index.js' %}" defer></script>
<script src="https://kit.fontawesome.com/92318589eb.js" crossorigin="anonymous"></script>
<script src="{% static 'js/menu_user.js' %}" defer></script>
