<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/SaleCold/SaleCold/static/assets/favicon/Logo4.webp" type="image/x-icon">
    <link rel="stylesheet" href="/SaleCold/static/css/normalize.css">
    <link rel="stylesheet" href="/SaleCold/static/css/styles.css">
    <link rel="stylesheet" href="/SaleCold/static/css/usuarioNormal.css">
    <link rel="stylesheet" href="/SaleCold/static/css/administrador.css">
    <link rel="stylesheet" href="/SaleCold/static/css/agregarPedido.css">
    <title>Agregar pedido</title>
</head>

<body>

    {% include 'plantillas/header.html' %}

    <main>

        <fieldset class="container-form-add-order">
            <legend class="container-form-add-order__title">Agregar pedido</legend>

            <form action="#" method="POST" class="form-add-order">
                <label class="label-add-order">
                    Fecha de pedido
                    <input type="date" class="label-add-order__input">
                </label class="form-add-order__label">

                <label class="label-add-order">
                    Fecha de pago
                    <input type="date" class="label-add-order__input">
                </label>

                <label class="label-add-order">
                    Numero de pago
                    <input type="text" required class="label-add-order__input">
                </label>

                <label class="label-add-order">
                    Referencia de pago
                    <input type="text" required class="label-add-order__input">
                </label>

                <label class="label-add-order">
                    Cliente
                    <input type="list" list="clientes" class="label-add-order__input">
                    <datalist name="clientes" id="clientes" class="label-add-order__list">
                        <option value="Cliente 1">Cliente 1</option>
                        <option value="Cliente 2">Cliente 2</option>
                        <option value="Cliente 3">Cliente 3</option>
                        <option value="Cliente 4">Cliente 4</option>
                        <option value="Cliente 5">Cliente 5</option>
                        <option value="Cliente 6">Cliente 6</option>
                    </datalist>
                </label>

                <label class="label-add-order">
                    Numero de documento contable
                    <input type="text" required class="label-add-order__input">
                </label>

                <button class="form-add-order__btn">Guardar</button>
            </form>
        </fieldset>

        <aside class="main-icon">
            <a href="/info/" class="main-icon__link main-icon__link--position">
                <i class="fas fa-info-circle fa-2x"></i>
            </a>
            <a href="/contact/" class="main-icon__link">
                <i class="fas fa-comment-dots fa-2x"></i>
            </a>
        </aside>
    </main>

    <footer class="main-footer">
        <address class="info-contact">
            <p class="info-contact__paragraph">
                <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
                Calle 45C # 4-10C-75, Barranquilla
            </p>
            <p class="info-contact__paragraph">
                <i class="fas fa-phone-square-alt" aria-hidden="true"></i>
                333333
            </p>
            <p class="info-contact__paragraph">
                <i class="fas fa-envelope" aria-hidden="true"></i>
                frionevadojl@hotmail.com
            </p>
        </address>

        <p class="main-footer__paragraph">
            &copy; SaleCold 2021 | Todos los derechos reservados
        </p>
    </footer>

    <script src="/SaleCold/SaleCold/static/js/index.js" defer></script>
    <script src="https://kit.fontawesome.com/92318589eb.js" crossorigin="anonymous"></script>
</body>

</html>